#graphpanel {
    border: solid black thin;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
/*ObjectNode work in progress*/
.overlay {
    height: 50px;
    width: 50px;
    position: absolute;
    background: rgba(100,100,100,0);
    top: 0px;
    bottom:0px;
    left:8px;
    right:0px;
    pointer-events: all;
    cursor: pointer;
}
